<%- include("../layouts/admin-header.ejs") %>


        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Dashboard</h2>
           
            
            <p>Welcome to DashBoard ,Here You can create Post ,Check your Job Posts.</p>
            <%- include("../layouts/admin-footer.ejs") %>