<%- include("./layouts/header.ejs") %>
<div class="container">
    <h2>Reset Password</h2>


    <form action=""method="post">
        <input type="password" name="password" required placeholder="enter new password">
        <input type="hidden" name="user_id" value="<%=user_id%>">
<br>
<button type="submit">change password</button>
</form>
<%
if(typeof message !== "undefined") {
%>

<p style="color:green;"><%= message %></p>
<%}%>
</div>

<%- include("./layouts/footer.ejs") %>